/*table*/
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 300px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 300px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

body {
  padding: 0 2em;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: rgb(255, 255, 255);
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}
h3 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

.rwd-table {
  background: #34495E;
  color: rgb(255, 255, 255);
  border-radius: .4em;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 300px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: rgb(59, 162, 65);
}


/* table2 */
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
.rwd-table2 {
  margin: 1em 0;
  min-width: 300px;
}
.rwd-table2 tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table2 th {
  display: none;
}
.rwd-table2 td {
  display: block;
}
.rwd-table2 td:first-child {
  padding-top: .5em;
}
.rwd-table2 td:last-child {
  padding-bottom: .5em;
}
.rwd-table2 td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 300px) {
  .rwd-table2 td:before {
    display: none;
  }
}
.rwd-table2 th, .rwd-table2 td {
  text-align: left;
}
@media (min-width: 300px) {
  .rwd-table2 th, .rwd-table2 td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table2 th:first-child, .rwd-table2 td:first-child {
    padding-left: 0;
  }
  .rwd-table2 th:last-child, .rwd-table2 td:last-child {
    padding-right: 0;
  }
}



.rwd-table2 {
  background: #34495E;
  color: rgb(255, 255, 255);
  border-radius: .4em;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
}
.rwd-table2 tr {
  border-color: #46637f;
}
.rwd-table2 th, .rwd-table2 td {
  margin: .5em 1em;
}
@media (min-width: 300px) {
  .rwd-table2 th, .rwd-table2 td {
    padding: 1em !important;
  }
}
.rwd-table2 th, .rwd-table2 td:before {
  color: #46637f;
}

/* table3*/
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
.rwd-table3 {
  margin: 1em 0;
  min-width: 300px;
}
.rwd-table3 tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table3 th {
  display: none;
}
.rwd-table3 td {
  display: block;
}
.rwd-table3 td:first-child {
  padding-top: .5em;
}
.rwd-table3 td:last-child {
  padding-bottom: .5em;
}
.rwd-table3 td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 300px) {
  .rwd-table3 td:before {
    display: none;
  }
}
.rwd-table3 th, .rwd-table3 td {
  text-align: left;
}
@media (min-width: 300px) {
  .rwd-table3 th, .rwd-table3 td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table3 th:first-child, .rwd-table3 td:first-child {
    padding-left: 0;
  }
  .rwd-table3 th:last-child, .rwd-table3 td:last-child {
    padding-right: 0;
  }
}



.rwd-table3 {
  background: rgb(201, 31, 31);
  color: rgb(255, 255, 255);
  border-radius: .4em;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
}
.rwd-table3 tr {
  border-color: #ffffff;
}
.rwd-table3 th, .rwd-table3 td {
  margin: .5em 1em;
}
@media (min-width: 300px) {
  .rwd-table3 th, .rwd-table3 td {
    padding: 1em !important;
  }
}
.rwd-table3 th, .rwd-table3 td:before {
  color: #ffffff;
}

.sombra {
  border-radius: 8px;
  max-width: 100%;
	height: auto;  
  margin: -9px;
}

.sombra:hover {
  border: 2px solid green;
  box-shadow: 5px 5px 0px 0px;
}

